CONFIG_ARM=y
CONFIG_TARGET_MT6765=y
CONFIG_DEFAULT_DEVICE_TREE="mt6765-bangkok_tf"
CONFIG_SYS_MALLOC_LEN=0x400000
#CONFIG_SYS_INIT_SP_ADDR=[ T O D O ]
CONFIG_POSITION_INDEPENDENT=n
CONFIG_SYS_SDRAM_BASE=0x1022a000
CONFIG_DEBUG_UART=y
CONFIG_DEBUG_UART_SKIP_INIT=y
CONFIG_DEBUG_UART_BASE=0x11002000
CONFIG_LOGLEVEL=8
CONFIG_LINUX_KERNEL_IMAGE_HEADER=2